<p style="color: green"><%= notice %></p>

<h1>Rweets</h1>

<div id="rweets">
  <% @rweets.each do |rweet| %>
    <%= rweet.body %></br>
    <% if current_user == rweet.user %>
      <%= link_to "Delete", rweet_path(rweet.id), :confirm => "Are you sure?", :method => :delete %>
    <% end %>
  <% end %>

  <%# @rweets.each do |rweet| %>
    <%#= render rweet %>
<!--    <p>-->
      <%#= link_to "Show this rweet", rweet %>
<!--    </p>-->
  <%# end %>
</div>

<%= link_to "New rweet", new_rweet_path %>
