body{
    background-color: black;
    color: white;
    
}
.text-endend{
    font-size: 2rem;
    margin-bottom: 110px;
}
.text-end{
    font-size: 4.75rem;
    margin-bottom: 50px;

}
.title{
    position: relative;
    bottom: 735px;
    padding-left:921px;
}
.image{
    position: relative;
    right: 200px;
}
.twitter{
    position: relative;
    width: 83px;
    margin-left: 454px;
    bottom: 698px;

}
