body{
    background-color: black;
    color: white;
    overflow: hidden;
}
.text-endend{
    font-size: 2rem;
    margin-bottom: 32px;
}
.text-end{
    font-size: 4.75rem;
    margin-bottom: 29px;

}
.title{
    position: relative;
    bottom: 838px;
    padding-left:921px;
}
.image{
    position: relative;
    right: 200px;
}
.twitter{
    position: relative;
    width: 83px;
    margin-left: 454px;
    bottom: 640px;
}
.twitter2{
    position: relative;
    bottom: 592px;
    margin-left: 147px;
    width: 321px;
}
