.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    width: 20%;
    background-color: #111;
}

.right {
    right: 0;
    width: 50%;
    margin-right: 30%;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.top {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile {
    width: auto;
    height: auto;
    margin: 5px;
}

.rweet {
    width: auto;
    height: auto;
    margin: -10px 5px 5px;
}

.logo {
    padding-top: 10px;
    padding-left: 30px;
}

.username {
    padding-top: 10px;
    padding-left: 30px;
    font-size: 30px;
}

.IdUsername {
    padding-left: 30px;
    font-size: 20px;
}

.description {
    padding-top: 10px;
    padding-left: 30px;
    font-size: 20px;
}

.other {
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: 15px;
}

.logo-right {
    padding-top: 30px;
    padding-left: 470px;
}

.rweet-post {
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}